@font-face{
    font-family: 'bold';
    src: url(../font/NotoSansJP-Bold.otf);
}
@font-face{
    font-family: 'smibold';
    src: url(../font/NotoSansJP-Medium.otf);
}
@font-face{
    font-family: 'regualr';
    src: url(../font/NotoSansJP-Regular.otf);
}
*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 80%;
    margin: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
p,
h4{
    text-align: justify;
}
/*nav*/
nav{
    width: 100%;
    padding: 20px 0px;
}
nav .content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-size: 20px;
}
.container .content .brand-name img{
    width: 167px;
    height: 37px;
}
nav .content .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}
nav .content .navbar-nav  .nav-item{
    padding: 0px 20px;
}
nav .content .navbar-nav  .nav-item .nav-link{
    padding: 10px 0px;
    font-family: 'regualr';
    font-size: 20px;
    color: #456173;
    line-height: 27px;
}
nav .content .btn {
    padding: 10px 15px;
    border: 2px solid #456173;
    font-family: 'regualr';
    font-size: 20px;
    border-radius: 33px;
    color: #456173;
    line-height: 27px;
}
/*head*/
header{
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 9;
}
header .header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    color: #456173;
    padding-top: 80px;
    width: 100%;
}
header .header-content::after{
    content: '';
    position: absolute;
    width: 80%;
    height: 100%;
    background: url(../images/pattern.png);
    background-size: cover;
    padding: 0px;
    bottom: 0;
    right: 0;
    z-index: -1;
}
header .header-content .content,
header .header-content .image-content{
    width: 50%;
}
header .header-content .image-content img{
    width: 100%;
}
header .header-content .content h4{
    font-size: 40px;
    font-family: 'bold';
    line-height: 53px;

}
header .header-content .content p{
    font-size: 25px;
    font-family: 'regualr';
    line-height: 33px;
    padding: 50px 0px 50px 0px;
}
header .header-content .content a{
    background-color: #A6ED8E;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 27px;
    padding: 15px 30px;
}


/*about us */
main .about{
    background-image: url(../images/backgound.png);
    padding: 150px 0px ;
    background-size: cover;
    mask-repeat: no-repeat;
    width: 100%;
}
main .about .container .about-content .content h4{
    font-size: 40px;
    font-family: 'bold';
    line-height: 53px;
    color: #456173;
    padding-bottom: 35px;
}
main .about .container .about-content .content{
    font-size: 25px;
    font-family: 'regualr';
    line-height: 33px;
    color: #456173;
}
main .about .container .about-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
main .about .container .about-content .content,
main .about .container .about-content .image-content{
    width: 50%;
}
main .about .container .about-content .image-content img{
    width: 100%;
    height: auto;
}
/*start*/
main .start{
    background-color: #456173;
    background-size: cover;
    position: relative;
    z-index: -1;
}
main .start .stars{
    width: 100%;
    height: auto;
    background-image: url(../images/backgound.png);
    position: relative;
}
main .start .stars::after{
    content: '';
    position: absolute;
    background-image: url('../images/start_pattern.png');
}
main .start .container{
    position: relative;
}
main .start .container::after{
    content: '';
    position: absolute;
    background-image: url(../images/backgound.png);
    width: 100%;
    height: auto;
    z-index: 999999;
}
main .start .container .start-content .content h4{
    font-size: 40px;
    font-family: 'bold';
    line-height: 53px;
    color: white;
    text-align: left;
    padding: 30px 0px;
}
main .start .container .start-content .content .image{
    padding: 40px 240px;    
}
main .start .container .start-content .content .start-btn{
    padding: 20px 175px;
}
main .start .container .start-content .content .start-btn .btn{
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'regualr';
    background-color: #A6ED8E;
    border: 1px solid #093C70;
    width: 800px;
    height: 40px;
    border-radius: 10px;
    left: 350px;
    padding: 10px 100px;
}
main .start .container .start-content .content .stores{
    padding: 20px 350px;
}
main .start .container .start-content .content .stores .play,
main .start .container .start-content .content .stores .store{
    display: inline-block;
}